body{
  background-image: url("https://ae01.alicdn.com/kf/HTB1Q4Q3ax2rK1RkSnhJq6ykdpXax/Harry-Potter-Magician-s-Duel-Staircase-backdrop-High-quality-Computer-print-party-photography-studio-background.jpg");
}

th{
  text-align: center;
  font-size: 22px;
}

#existing_skills_cell{
  width: 300px;
}
#id{
  color: red;
}

.btn{
  display: flex;
  justify-content: center;
}

.border_bottom{
  border-bottom: 1px solid black;
}
.select_desired_skills{
  width: 118px;
  height: 149px;
  font-size: 14px;
  text-align: center;
  color: #9e9eff;
  background-color: black;

}

h3{
    font-family: Calibri;
    color:blue;
    font-size: 25pt;         
    font-style: normal; 
    font-weight: bold; 
    color:SlateBlue;
    text-align: center;
    text-decoration: underline
  }


#one_student{
    text-align: left;
    align-self: center;
    list-style-position: inside;
    width: 90vw;
    

}

td{
  padding: 10px;
}


.name_td{
text-align: center;
padding-left:50px;


}

.container{
  display: flex;
  flex-direction: column;
}

  table{
    font-family: Calibri; 
    color:white; 
    font-size: 11pt; 
    font-style: normal;
    font-weight: bold;
    text-align: left;
    list-style-position: inside;
    list-style-type: none;
    background-color: SlateBlue; 
    border-collapse: collapse; 
    border: 2px solid navy;
    align-self: center;

  }
  table.inner{
    border: 5px
  }
  #registration_form{
    text-align: center;
  }
ol{
  list-style-type: none;
  padding: 15px;
}

.one_student_list{

  text-align: center;
  padding:20px; 
}

#one_student_container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.level_label{


}




  #list_title{
      text-align: center;
  }

  #last_name_data{
    text-align: center;
  }

  #first_name_data{
    text-align: center;
    width: 200px;
  }

  #course_interest {
    width: 250px;
  }

  #first_name{
    width: 300px;
  }

  #desired_skills{
    width: 110px;
  }

  #id_title{
    width: 80px;
  }

  #center_id {
    text-align: center;
  }