body {
  background-image: url("https://ae01.alicdn.com/kf/HTB1Q4Q3ax2rK1RkSnhJq6ykdpXax/Harry-Potter-Magician-s-Duel-Staircase-backdrop-High-quality-Computer-print-party-photography-studio-background.jpg");
  font-family: "Indie Flower", cursive;
  background-repeat: no-repeat;
  background-size: cover ;
  color: white;
  margin: 0px;
}

th {
  text-align: center;
  font-size: 22px;
}

#existing_skills_cell {
  width: 300px;
}
#id {
  color: red;
}

.btn {
  display: flex;
  justify-content: center;
}

.border_bottom {
  border-bottom: 1px solid black;
}
.select_desired_skills {
  width: 118px;
  height: 149px;
  font-size: 14px;
  text-align: center;
  color:#7af51f;
  background-color: black;
}

h3 {
  font-family: Calibri;
  color: blue;
  font-size: 25pt;
  font-style: normal;
  font-weight: bold;
  color: SlateBlue;
  text-align: center;
  text-decoration: underline;
}

#one_student {
  text-align: left;
  align-self: center;
  list-style-position: inside;
  width: 90vw;
}

select {
  background-color: beige;
  font-family: "Indie Flower", cursive;
}

.name_td {
  text-align: center;
  padding-left: 50px;
}

.container {
  display: flex;
  flex-direction: column;
}

table {
  font-family: "Indie Flower", cursive;
  color: white;
  font-size: 11pt;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  list-style-position: inside;
  list-style-type: none;
  background-color: SlateBlue;
  border-collapse: collapse;
  border: 2px solid navy;
  align-self: center;
}

table.inner {
  border: 5px;
}
#registration_form {
  text-align: center;
  color: white;
}

ol {
  list-style-type: none;
  padding: 15px;
  width: 105px;
}

.one_student_list {
  text-align: center;
  padding: 20px;
  color:#7af51f
}

#one_student_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list_title_show{
  text-align: center;
  color: black;
  font-family: "Indie Flower", cursive;
  margin-bottom: 7px;
  margin-top: 4px;
  font-size: 39px;
  color:#5eff55;
  
}

.list_title_add{
  text-align: center;
  color: white;
  font-family: "Indie Flower", cursive;
  margin-bottom: 4px;
  margin-top: 1px;
  font-size: 39px;
}

#last_name_data {
  text-align: center;
}

#first_name_data {
  text-align: center;
  width: 90px;
}

#course_interest {
  width: 250px;
}

#first_name {
  width: 300px;
}

#desired_skills {
  width: 110px;
}

#id_title {
  width: 80px;
}

#center_id {
  text-align: center;
  font-size: 22px;
}

button {
  width: 100px;
  height: 50px;
  margin: 10px 0px;
}

.link {
  font-size: 20px;
  text-decoration: none;
}

.link_container {
  width: 120px;
  height: 30px;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 25px;
  margin-bottom: 10px;
}

.prev_option {
  color: red;
}

#edit_title {
  text-align: center;
}

.button_position {
  display: flex;
  justify-content: center;
  margin-top: 8px;
}

#student_stats_button {
  width: 139px;
}
̉
.chart {
  height: 509px;
}

#edit_button{
  margin-top: 5px;
}

#delete_button{
  margin-top: 5px;
}

#delete_button_size{
  font-size: 18px;
}

.chart1 .canvasjs-chart-container {
  height: 400px !important;
  width: 500px !important;
 
}
.chart2 .canvasjs-chart-container {
  height: 400px !important;
  width: 500px !important;

}
.chart3 .canvasjs-chart-container {
  height: 500px !important;
  width: 500px !important;

}
.chart4 .canvasjs-chart-container {
  height: 500px !important;
  width: 500px !important;

}

.chart_container {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.canvasjs-chart-credit {
  position: relative;
}

#chartContainer_existing{
  margin: 10px;
}

#chartContainer_desired{
  margin: 10px;
}

#chartContainer_day{
  margin: 10px;
}

#chartContainer_month{
  margin: 10px;
}

#stats_header{
  text-align: center;
    font-size: 39px;
    color: #18feff;
}

.name_font{
  color: black;
  font-size: 27px; 
}

.student_color{ 
color:#7af51f}


.header_color{
  color: #ffde92
}