<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>

  {% extends 'index.html' %} {% block body %}
  <div class="container">
    <div>
 
     
      <h1 id="list_title">Hogwarts Student List</h1>
      <button><a href="/add_student">Add Student</a></button>
    </div>

    <table>
      <tr class="border_bottom">
        <th id="id_title">ID</th>
        <th id="first_name_student">First Lame</th>
        <th>Last Name</th>
        <th>Creation Time</th>
        <th>Existing Skills</th>
        <th>Desired Skills</th>
        <th >Course Interest</th>
      </tr>

      {% for student in students_list %}

      <tr class="border_bottom">
        <td id="center_id"><a id="id" href="/students/{{student.id}}">{{student.id}}</a></td>
        <td id="first_name_data">{{student.first_name}}</td>
        <td id="last_name_data">{{student.last_name}}</td>
        <td>{{student.creation_time}}</td>
        <td>
          <ol>
            {% for skill in student.existing_skills %}
            <li>{{skill.skill}} {{skill.level}}</li>

            {% endfor %}
          </ol>
        </td>
        <td>
          <ol>
            {% for skill in student.desired_skills %}
            <li>{{skill}}</li>

            {% endfor %}
          </ol>
        </td>
        <td>
          <ol>
            {% for course in student.course_interest %}
            <li>{{course}}</li>

            {% endfor %}
          </ol>
        </td>
      </tr>

      {% endfor %} {% endblock %}
    </table>
  </div>
  <script src="{{url_for('static', filename='css/please.js')}}"></script>
</html>
