<!DOCTYPE html>
<html>
  <head>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>
  </head>


 <body>
	<h1 id="stats_header">Student's Stats</h1>
	<div class="button_position">
		<div class="link_container"><a class="link" href="/">Student List</a></div class="link-container">
    	<div class="link_container"><a class="link" href="/add_student">Add Student</a></div>
    </div>

	<div class = "chart_container">
		<div id="chartContainer_existing" class="chart1"></div>
		<div id="chartContainer_desired" class="chart2"></div>
	</div>
	<div class = "chart_container">
         <div id="chartContainer_day" class="chart3"></div>
		 <div id="chartContainer_month" class="chart4"></div>
	<div>
	

<script src="{{url_for('static', filename='js/charts.js')}}"></script>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script type="text/javascript">
	 var datapoints_existing = {{ counts_existing|tojson }}
	 var datapoints_desired = {{counts_desired|tojson }}
	 var datapoints_day = {{ counts_day|tojson }}
	 var datapoints_month = {{counts_month|tojson}}
</script>
	 
	
̀ </body>
</html>
